footer {
    background-color:  rgb(255, 157, 38);

    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 15px;
        padding: 10px 40px;
        color: white; 
        text-align: center;
        letter-spacing: 2px;
        margin: 0;
        text-align: center;
    }

    a {
        color: rgb(165, 1, 1);
        text-decoration: none;
    }
}